################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestServiceAPI/.vs/TestServiceAPI/v15
*.cache
